.logo {
    height: 75px;
    background-color: lightgray;
    width: 75px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
}